# **1. Strings**

In [1]:
frase = 'Python é uma linguagem sensacional'

In [2]:
frase[0]

'P'

In [3]:
frase[1]

'y'

In [4]:
frase[0:6]

'Python'

## **Slicing**

Slicing pega o conteúdo da string ATÉ MAS NÃO INCLUINDO o index depois do ':'

In [5]:
frase[0:7]

'Python '

In [6]:
frase[:6]

'Python'

In [7]:
frase[6:]

' é uma linguagem sensacional'

## **Concatenação**

In [8]:
frase1 = 'Python é uma linguagem sensacional'
frase2 = ' para qualquer cientista de dados'

In [9]:
frase1 + frase2

'Python é uma linguagem sensacional para qualquer cientista de dados'

## **Objeto String - Métodos**

In [10]:
frase = 'Minerando Dados é a maior comunidade de Data Science do Brasil'

In [11]:
#O método count() é case sensitive

In [12]:
frase.count('Dados')

1

In [13]:
frase.lower()

'minerando dados é a maior comunidade de data science do brasil'

In [14]:
frase.upper()

'MINERANDO DADOS É A MAIOR COMUNIDADE DE DATA SCIENCE DO BRASIL'

In [15]:
frase.capitalize()

'Minerando dados é a maior comunidade de data science do brasil'

In [16]:
frase.islower()

False

In [17]:
frase.lower().islower()

True

In [18]:
frase.split(" ")

['Minerando',
 'Dados',
 'é',
 'a',
 'maior',
 'comunidade',
 'de',
 'Data',
 'Science',
 'do',
 'Brasil']

# **2. Listas**

In [19]:
bichos = [1, 2, 3]
bichos

[1, 2, 3]

In [20]:
bichos = ['dog', 'cat', 1223334444, 13.9, [0,1,2]]
bichos

['dog', 'cat', 1223334444, 13.9, [0, 1, 2]]

## **Atualizando Valores da Lista**

Ao contrário das Strings, o Python permite alterar os valores das listas, passando o index e o novo valor que será inserido naquela posição

In [21]:
bichos

['dog', 'cat', 1223334444, 13.9, [0, 1, 2]]

In [22]:
bichos[0] = 'horse'
bichos

['horse', 'cat', 1223334444, 13.9, [0, 1, 2]]

In [23]:
bichos[1] = 'monkey'
bichos

['horse', 'monkey', 1223334444, 13.9, [0, 1, 2]]

In [24]:
bichos[2] = 998887777
bichos

['horse', 'monkey', 998887777, 13.9, [0, 1, 2]]

## **Slicing**

Funciona da mesma maneira que nas Strings

In [25]:
bichos[1:]

['monkey', 998887777, 13.9, [0, 1, 2]]

In [26]:
bichos[:3]

['horse', 'monkey', 998887777]

## **Remoção de Elementos**

Basta passar ao Python o index ou elemento (existente na lista) que será removido

In [27]:
bichos.remove('horse')
bichos

['monkey', 998887777, 13.9, [0, 1, 2]]

In [28]:
bichos.remove(bichos[0])
bichos

[998887777, 13.9, [0, 1, 2]]

## **Operações em Listas**

In [29]:
#Retorna o tamanho da lista
len(bichos)

3

In [30]:
#Concatenando elementos novos à lista existente
bichos = bichos + ['horse', 'monkey', 21690]
bichos

[998887777, 13.9, [0, 1, 2], 'horse', 'monkey', 21690]

In [31]:
#Verifica se um elemento existe na lista
'monkey' in bichos

True

In [32]:
21690 in bichos

True

In [33]:
#Verifica o valor máximo da lista, mas não funciona com listas de tipos de dados mistos, apenas com numéricos
max(bichos)

TypeError: '>' not supported between instances of 'list' and 'int'

In [34]:
lista = [1, 500, 23, 90, 56789]
max(lista)

56789

In [35]:
#Verifica o valor mínimo da lista, mas não funciona com listas de tipos de dados mistos, apenas com numéricos
min(lista)

1

In [36]:
#Multiplicação de elementos
['Olá'] * 5

['Olá', 'Olá', 'Olá', 'Olá', 'Olá']

In [37]:
#append() adicionando elementos na lista com append()
bichos.append('dragon')
bichos

[998887777, 13.9, [0, 1, 2], 'horse', 'monkey', 21690, 'dragon']

In [38]:
#extend() estende a lista com mais de um elementos
bichos.extend(['lion', 10.5])
bichos

[998887777, 13.9, [0, 1, 2], 'horse', 'monkey', 21690, 'dragon', 'lion', 10.5]

In [39]:
#index() retorna o index do elemento passado como parâmetro
bichos.index('dragon')

6

In [40]:
#remove() remove o elemento especificado como parâmetro
bichos.remove('dragon')
bichos

[998887777, 13.9, [0, 1, 2], 'horse', 'monkey', 21690, 'lion', 10.5]

In [41]:
#count() retorna o número de ocorrências do elemento passado como parâmetro
bichos.count('dragon')

0

In [42]:
bichos.count('lion')

1

In [43]:
bichos

[998887777, 13.9, [0, 1, 2], 'horse', 'monkey', 21690, 'lion', 10.5]

In [44]:
#Ordenação de listas
lista = [1, 500, 23, 90, 56788, 988, 10, 4576, 23, 109]
lista2 = ['casa', 'rio', 'lua', 'agua', 'sabão', 'planta']

In [45]:
lista.sort()
lista

[1, 10, 23, 23, 90, 109, 500, 988, 4576, 56788]

In [46]:
lista2.sort()
lista2

['agua', 'casa', 'lua', 'planta', 'rio', 'sabão']

## **Listas Aninhadas**

In [47]:
listas = [['cat', 'dog', 'snake'], ['Audi', 'Ferrari', 'Porsche'], [10, 100, 1000]]
listas

[['cat', 'dog', 'snake'], ['Audi', 'Ferrari', 'Porsche'], [10, 100, 1000]]

In [48]:
#Nas listas aninhadas, chamar o index imprimirá o elemento respectivo dentro da coleção de listas, ou seja, a primeira lista inteira
listas[0]

['cat', 'dog', 'snake']

In [49]:
#Para retornar um item específico dentro de uma das sub-listas, deve-se usar os dois index: da lista e do item
listas[0][1]

'dog'

In [50]:
listas[1][1]

'Ferrari'

In [51]:
listas[2][2]

1000

In [52]:
#A multiplicação de valores funciona do mesmo jeito que nas listas simples
listas[0] *3

['cat', 'dog', 'snake', 'cat', 'dog', 'snake', 'cat', 'dog', 'snake']

# **3. Tuplas**

Tuplas são estruturas similares às listas, porém elas NÃO PODEM SER ALTERADAS.

In [55]:
tupla1 = ('Ferrari', 'Onça', 17.900, 5000)
tupla1

('Ferrari', 'Onça', 17.9, 5000)

In [57]:
tupla1[0], tupla1[1], tupla1[2]

('Ferrari', 'Onça', 17.9)

## **Tuplas Aninhadas**

Mesmo procedimento das listas, mas obedecendo a sintaxe das tuplas

In [58]:
tupla_aninhada = (1, 2, 3, ('Coruja', 'Onça', 'Elefante'))
tupla_aninhada

(1, 2, 3, ('Coruja', 'Onça', 'Elefante'))

In [59]:
tupla_aninhada[3]

('Coruja', 'Onça', 'Elefante')

In [60]:
tupla_aninhada[2]

3

In [61]:
tupla_aninhada[3][1]

'Onça'

## **Operações Básicas**

In [63]:
#Multiplicação de elementos
tupla2 = tupla1 * 3
tupla2

('Ferrari',
 'Onça',
 17.9,
 5000,
 'Ferrari',
 'Onça',
 17.9,
 5000,
 'Ferrari',
 'Onça',
 17.9,
 5000)

In [64]:
#Concatenando tuplas
(1, 2, 3) + ('Açaí', 'Banana', 'Guaraná')

(1, 2, 3, 'Açaí', 'Banana', 'Guaraná')

In [65]:
#Verificando se um elemento pertençe à tupla
'Onça' in tupla1

True

In [66]:
'Onça' in tupla_aninhada

False

In [67]:
'Onça' in tupla_aninhada[3]

True

## **Slicing**

Funciona da mesma maneira que nas demais estruturas de dados

In [68]:
tupla1[2:]

(17.9, 5000)

In [69]:
tupla1[1:3]

('Onça', 17.9)